<%- include partials/header.ejs %>
<body>
    <header class='speaker-form-header'>
        <h1>Admin Page
        </h1>
        <p>
            <em>Add and Edit Users, Houses and Tenants here.</em>
        </p>
        <div class="form-row">
            <div class="col-md-12">
              <a href="login">
                <button id="loginButton" >Logout</button>
              </a>
        </div>
        </div>

    </header>

    <fieldset>
        

            <div class="ButtonsTop">
                <div class="column">
                    <a href="createUser">
                        <button class = "APButton">Create New User</button>
                    </a>
                </div>
                <div class="column">
                    <a href="createProperty">
                    <button class = "APButton" id="AddHousePageButton" type="button">Add a new Property
                    </button>
                    </a>
                </div>
                <div class="column">
                    <a href="visit">
                        <button class = "APButton">Visit Form</button>
                    </a>
                </div>
                <div class="column">
                    <a href="supportWorker">
                    <button class = "APButton" id="AddHousePageButton" type="button">Support Worker
                    </button>
                    </a>
                </div>
            </div>


           
        
    </fieldset>

</body>


<%- include partials/footer.ejs %>
