<%- include partials/header.ejs %>
<body>
    <header class='speaker-form-header'>
        <h1>Admin Page
        </h1>
        <p>
            <em>Add and Edit Users, Houses and Tenants here.</em>
        </p>

    </header>

    <fieldset>
        

            <div class="ButtonsTop">
                <div class="column">
                    <a href="createUser">
                        <button class = "APButton">Create New User</button>
                    </a>
                </div>
                <div class="column">
                    <button class = "APButton" id="AddHousePageButton" type="button">Add a new House
                    </button>
                </div>
                <div class="column">
                    <a href="createUser">
                        <button class = "APButton">Visit Form</button>
                    </a>
                </div>
                <div class="column">
                    <button class = "APButton" id="AddHousePageButton" type="button">Support Worker
                    </button>
                </div>
            </div>


           
        
    </fieldset>

</body>


<%- include partials/footer.ejs %>
