<%- include partials/header.ejs %>
<body> 
    <header class='speaker-form-header'>
        <h1>Admin Page </h1>
        <p><em>Add and Edit Users, Houses and Tenants here.</em></p>
        
      </header>
      <form action='' method='POST' class='speaker-form'>
      
      <div class = "ButtonsTop">
          <div class="column">
        <a href="createUser"><button>Create New User</button></a>
    </div>
    <div class ="column">
        <button id=AddHousePageButton type="button">Add a new House  </button>
    </div>
      </div>
    

       
     
    
    </form>
     

      <a href="createUser"><button>Create New User</button></a>

    <button id=AddHousePageButton type="button">Add a new House  </button>
</body>


<%- include partials/footer.ejs %>