<%- include partials/header.ejs %>



<body>
  <header class='speaker-form-header'>
    <h1>Create new property</h1>
    <p><em>add a new property to the system, and add/change tennants</em></p>
    <div class="form-row">
      <div class="col-md-12">
        <a href="login">
          <button id="loginButton" >Logout</button>
        </a>
      </div>
      </div>
  </header>

<fieldset>
  <form action="/submitNewHouse" method="POST">
    
    <div class="form-group">
      <label for="houseNumber">House Number</label>
      <input type="number" name = "houseNumber" class="form-control" id="houseNumber" placeholder="House Number">
    </div>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" name = "street" id="street" placeholder="Street Name">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <select id="city" name ="city" class="form-control">
          <option selected>Choose...</option>
          <option>Leeds</option>
          <option>Pontefract</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="county">County</label>
        <select id="county" name ="county" class="form-control">
          <option selected>Choose...</option>
          <option>North Yorkshire</option>
          <option>East Yorkshire</option>
          <option>South Yorkshire</option>
          <option>West Yorkshire</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="postcode">Postcode</label>
        <input type="text" name = "postcode" class="form-control" id="postcode">
      </div>
    </div>
    <div class="form-group">
      <label for="numOfRooms">Number of rooms</label>
      <select id="numOfRooms" name ="numOfRooms" class="form-control">
        <option selected>Choose...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <article>
      <label for="files">upload images of all appliances: </label>
      <input id="files" type="file" multiple />
      <div>
        <output id="result">
      </div>
    </article>
  
    <div>
      <button type="submit" class="pure-button pure-button-primary">Create</button>
    </div>
  </form>
</fieldset>
</body>

<script>
  window.onload = function () {

    if (window.File && window.FileList && window.FileReader) {
      var filesInput = document.getElementById("files");

      filesInput.addEventListener("change", function (event) {

        var files = event.target.files;
        var output = document.getElementById("result");

        for (var i = 0; i < files.length; i++) {
          var file = files[i];

          if (!file.type.match('image'))
            continue;

          var picReader = new FileReader();

          picReader.addEventListener("load", function (event) {

            var picFile = event.target;

            var div = document.createElement("column");

            div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
              "title='" + picFile.name + "'/>";

            output.insertBefore(div, null);

          });

          picReader.readAsDataURL(file);
        }

      });
    }
    else {
      console.log("Your browser does not support File API");
    }
  }


</script>
<%- include partials/footer.ejs %>