<%- include partials/header.ejs %>



<body>
  <header class='speaker-form-header'>
    <h1>Create new property</h1>
    <p><em>add a new property to the system, and add/change tennants</em></p>
  </header>

<fieldset>
  <div class='row'>
    <label for='Property'>Property adress</label>
  </div>
  <div class="row">
    <input id="propertyAdress" type="createPropertyAdress" name='propertyAdress' type='text' />
  </div>

  <div class='row'>
    <label for='noOfRooms'>Number of rooms</label>
  </div>

  <div class="row">
    <input type="number" id="noOfRooms">
  </div>

  <article>
    <label for="files">upload images of all appliances: </label>
    <input id="files" type="file" multiple />
    <div>
      <output id="result">
    </div>
  </article>

  <div>
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
  </div>
</fieldset>

</body>

<script>
  window.onload = function () {

    if (window.File && window.FileList && window.FileReader) {
      var filesInput = document.getElementById("files");

      filesInput.addEventListener("change", function (event) {

        var files = event.target.files;
        var output = document.getElementById("result");

        for (var i = 0; i < files.length; i++) {
          var file = files[i];

          if (!file.type.match('image'))
            continue;

          var picReader = new FileReader();

          picReader.addEventListener("load", function (event) {

            var picFile = event.target;

            var div = document.createElement("column");

            div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
              "title='" + picFile.name + "'/>";

            output.insertBefore(div, null);

          });

          picReader.readAsDataURL(file);
        }

      });
    }
    else {
      console.log("Your browser does not support File API");
    }
  }


</script>
<%- include partials/footer.ejs %>