<%- include partials/header.ejs %>

<body>
  
  <header class='speaker-form-header'>
    <h1>Create User </h1>
    <p><em>Create New User For the system</em></p>
    <div class="form-row">
      <div class="col-md-12">
        <a href="login">
          <button id="loginButton" >Logout</button>
        </a>
      </div>
      </div>
  </header>
  <fieldset>
    <form action="/submitNewUser" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="userId">Username</label>
          <input type="text" class="form-control" id="username" name="username"placeholder="Username">
        </div>
        <div class="form-group col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstname" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Last name">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="dob">DOB</label>
          <input type="date" class="form-control" id="dob" name="DOB" placeholder="Date Of Birth">
        </div>
        <div class="form-group col-md-4">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <div class="form-group col-md-4">
          <label for="type">Type</label>
          <select id="type" name ="Type" class="form-control">
            <option selected>Choose...</option>
            <option value="visit">House Visitor</option>
            <option value="supportWorker">Support Worker</option>
            <option value="AdminPage">Admin</option>
          </select>
        </div>
      </div>

      <div>
        <button type="submit" class="pure-button pure-button-primary">Create</button>
      </div>
     
    </form>

  </fieldset>
</body>
<%- include partials/footer.ejs %>