<%- include partials/header.ejs %>

<body>
  
  <header class='speaker-form-header'>
    <h1>Create User </h1>
    <p><em>Create New User For the system</em></p>
  </header>
  <fieldset>
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="userId">User ID</label>
          <input type="number" class="form-control" id="userId" name="userId"placeholder="User ID">
        </div>
        <div class="form-group col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="dob">DOB</label>
          <input type="date" class="form-control" id="dob" name="dob" placeholder="Date Of Birth">
        </div>
        <div class="form-group col-md-4">
          <label for="gender">Gender</label>
          <select id="gender" name ="gender" class="form-control">
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="type">Type</label>
          <select id="type" name ="type" class="form-control">
            <option selected>Choose...</option>
            <option>House Visitor</option>
            <option>Support Worker</option>
            <option>Admin</option>
          </select>
        </div>
      </div>

      <div>
        <button type="submit" class="pure-button pure-button-primary">Create</button>
      </div>
     
    </form>

  </fieldset>
</body>
<script>
  var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;


</script>
<%- include partials/footer.ejs %>