<%- include partials/header.ejs %>
<h1><%= error.status %></h1>
<html>
<body>
<fieldset>
    <h2>Page Not Found</h2>
    <h4>Return To loggin Page Using Button</h4>
    <a href="login">
        <button class = "APButton">Login</button>
    </a>
</fieldset>
</body>
</html>

<pre><%= error.stack %></pre>
<%- include partials/footer.ejs %>
