<%- include partials/header.ejs %>

<body>

    <header class='speaker-form-header'>
        <div class="row">
            <div class="col-md-7">
                <img alt="" src="images/SaviourTrustLogo.png" style="width: 100%;"/>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <h1>HomePage | Logon
                    </h1>
                </div>
                <div class="row">
                    <p>
                        <em>Welcome To The Saviour Trust</em>
                    </p>
                </div>            
              </div>
                
            </div>
        </div>
    </header>

    <fieldset>
        <form action="/login" method="POST">
            <div class="form-row">
                <div class="col-md-12">
                    <label for="Usename" id="usernameLbl">Username</label>
                    <input class="form-control" id="usernameTxt" name="username" placeholder="Enter Username" type="text">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <label for="Passowrd" id="passwordLbl">Password</label>
                    <input class="form-control" id="passwordTxt" name="password" placeholder="Enter Password" type="password">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <button class="button" id="submitBtn" type="submit">LogIn</button>
                </div>
            
            </div>
           
        </form>
    </fieldset>
</body>

<%- include partials/footer.ejs %>
