<%- include partials/header.ejs%>
<body>
  <div class="container">
    <div class="flexContainer">
      <div class="logo">
        <img src="images/SaviourTrustLogo.png" alt=""/>
      </div>
      <div class="username">
        <label for = "Usename" id="usernameLbl">Username</label>
        <div id="usernameTxt"><input type="text" class="form-control" name="username" id="usernameTxt" placeholder="Enter Username"></div>
      </div>			
      <div class="spacer"></div>
      <div class="password">
        <label for="Passowrd" id="passwordLbl">Password</label>
        <div id="usernameTxt"><input type="password" class="form-control" name="password" id="passwordTxt" placeholder="Enter Password"> </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="loginButton">
        <button type="submit" class="button" id="submitBtn">LogIn</button>
      </div>
    </div>
  </div>
</body>

<%- include partials/footer.ejs %>
