<%- include partials/header.ejs %>
 
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Support Worker Site</h1>
        <p>Information from all visits can be found here</p> 
    </div>

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                
                <div class="row">
                    <div class = "col-sm-12">
                    <h2>Select A Property to view information about</h2>
                    <select class="custom-select" class="selectSupport" size="31">
                        <option value="One"></option>
                        <option value="Two"></option>
                        <option value="Three"></option>
                    </select>
                    </div>
                </div>
            <div class="row">
                <div class = "col-sm-12">
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th width="20%">Alarm</th m>
                    <th width="20%">working</th>
                    <th>Faults</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Smoke Alarm</td>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td>N/A</td>     
                    </tr>
                    <tr>
                    <td>CM Alarm</td>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td>N/A</td>
                    </tr>  
                </tbody>
            </table>  
                </div>  
            </div>

                

                
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>Notes</h2>
                <h5>Notes about the rooms and tenants of the selected property.</h5>
                            
                <table class="table table-bordered">
                    <col width = "20%">
                    <col width = "80%">
                <thead>
                    <tr>
                    <th>Rooms</th>
                    <th>Notes</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Hallway</td>
                    <td>N/A</td>
                    
                    </tr>
                    <tr>
                    <td>Kitchen</td>
                    <td>N/A</td>
                
                    </tr>
                    <tr>
                    <td>Living Room</td>
                    <td>N/A</td>
                
                    </tr>
                    <tr>
                        <td>Stairs</td>
                        <td>N/A</td>
                
                    </tr>
                    <tr>
                        <td>Toilet</td>
                        <td>N/A</td>
                
                    </tr>
                    <tr>
                        <td>Room 1</td>
                        <td>N/A</td>
                
                    </tr>
                    <tr>
                        <td>Room 2</td>
                        <td>N/A</td>
                
                    </tr>
                    <tr>
                        <td>Room 3</td>
                        <td>N/A</td>
                
                    </tr>
                    <tr>
                        <td>Room 4</td>
                        <td>N/A</td>
                
                    </tr>
                </tbody>
                </table>
            
                <br>
                <h2>Images</h2>
                <h5>Images of all appliances</h5>
        
                <div class="row">
                    <div class="column">
                      <img src="images/saviourTrustLogo.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
                    </div>
                    <div class="column">
                      <img src="images/saviourTrustLogo.png" onclick="openModal();currentSlide(2)" class="hover-shadow">
                    </div>
                    <div class="column">
                      <img src="images/saviourTrustLogo.png" onclick="openModal();currentSlide(3)" class="hover-shadow">
                    </div>
                    <div class="column">
                      <img src="images/saviourTrustLogo.png onclick="openModal();currentSlide(4)" class="hover-shadow">
                    </div>
                  </div>
                  
                  <!-- The Modal/Lightbox -->
                  <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                  
                      <div class="mySlides">
                        <div class="numbertext">1 / 4</div>
                        <img src="images/saviourTrustLogo.png" style="width:100%">
                      </div>
                  
                      <div class="mySlides">
                        <div class="numbertext">2 / 4</div>
                        <img src="images/saviourTrustLogo.png" style="width:100%">
                      </div>
                  
                      <div class="mySlides">
                        <div class="numbertext">3 / 4</div>
                        <img src="images/saviourTrustLogo.png" style="width:100%">
                      </div>
                  
                      <div class="mySlides">
                        <div class="numbertext">4 / 4</div>
                        <img src="images/saviourTrustLogo.png" style="width:100%">
                      </div>
                  
                      <!-- Next/previous controls -->
                      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                      <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  
                      <!-- Caption text -->
                      <div class="caption-container">
                        <p id="caption"></p>
                      </div>
                  
                      <!-- Thumbnail image controls -->
                      <div class="column">
                        <img class="demo" src="images/saviourTrustLogo.png" onclick="currentSlide(1)" alt="Nature">
                      </div>
                  
                      <div class="column">
                        <img class="demo" src="images/saviourTrustLogo.png" onclick="currentSlide(2)" alt="Snow">
                      </div>
                  
                      <div class="column">
                        <img class="demo" src="images/saviourTrustLogo.png" onclick="currentSlide(3)" alt="Mountains">
                      </div>
                  
                      <div class="column">
                        <img class="demo" src="images/saviourTrustLogo.png" onclick="currentSlide(4)" alt="Lights">
                      </div>
                    </div>
                  </div>
</body>
  
<%- include partials/footer.ejs %>

Put this in support 


<%- include partials/header.ejs %>

<body>
  
  <header class='speaker-form-header'>
    <h1>Create User </h1>
    <p><em>Create New User For the system</em></p>
  </header>
  <fieldset>
    <div class='row'>
      <label for='firstName'>Name</label>
    </div>
    <div class="row">
      <input id="firstName" type="createFirstName" name='FirstName' type='text' />
    </div>

    <fieldset class='legacy-form-row'>
      <label for='typeOfUser'>type of user</label>
      <div class="row">
        <div class="column">
          <label for='user-type-1' class='radio-label'>House Visitor</label>
        </div>
        <div class="column">
          <input id='user-type-1' name='user-type' type='radio' value='House Visitor' />
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for='user-type-2' class='radio-label'>Support Worker</label>
        </div>
        <div class="column">
          <input id='user-type-1' name='user-type' type='radio' value='Support Worker' />
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for='user-type-3' class='radio-label'>Admin</label>

        </div>
        <div class="column">
          <input id='user-type-1' name='user-type' type='radio' value='Support Worker' checked />
        </div>
      </div>
    </fieldset>

    <div class='row'>
      <label for='password'>Password</label>

    </div>

    <div class="row">
      <input type="password" placeholder="Password" id="password" required>
      <input type="password" placeholder="Confirm Password" id="confirm_password" required>

    </div>
    <div>
      <button type="submit" class="pure-button pure-button-primary">Confirm</button>
      </fieldset>
    </div>

  </fieldset>
</body>
<script>
  var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

</script>
<%- include partials/footer.ejs %>