<%- include partials/header.ejs %>

<body>

  <div class="container">
    <form class="visitorForm" action="/visitHouse" method="post">
      <div class="row" id="r1">
        <div class="column" id="c4">
          <div class="logo"><img src="images/saviourTrustLogo.png" alt="" id="logo" /></div>
        </div>
 
        <div class="propertyList">
          <form action="/logout" method="POST">
          <div id="logOutButton">
            
            <button type="submit" class="button" id="logoutBtn">Logout</button>
          </div>
          </form>
          <div id="propertyListR1">
            <h1 class="labelVisit" id="currentUserLbl">Current User :</h1>
          </div>

          <form action="/houseVisit" method="POST">    
          <label class="Location" id="propertyLbl" for="inlineFormCustomSelectLocation">Property</label>
          <select class="custom-select Location" name ="houseId" id="inlineFormCustomSelectPref">
            <option selected>Which location are you visiting...</option>
            <% for(var a=0; a < houses.length; a++) { %>
              <option value="<%=houses[a][0]%>" ><%= houses[a] %></option>
             <% } %>
          </select>
        </div>
      </div>

      <div class="spacer"></div>
      <div class="row"><label for="hallwayCheck" class="labelVisit">Hallway(Include Cubby hole)</label></div>
      <div class="row"><input type="text" name ="hallway" class="form-control" id="inputvisits" placeholder="Notes about hallway"></div>
      
      <div class="visitForm">
          <label for="hallwayCheck" class="visitFormLbl">Hallway(Include Cubby hole)</label>
          <input type="text" class="visit-form-control" name="hall" id="inputvisits" placeholder="Notes about hallway">
          
          <div class="spacer"></div>
          <label for="KitchenCheck" class="visitFormLbl">Kitchen</label>
          <input type="text" class="visit-form-control" name="kitchen" id="KitchenCheck" placeholder="Notes about kitchen">
          
          <div class="spacer"></div>
          <label for="LivingRoomCheck" class="visitFormLbl">Living Room</label>
          <input type="text" class="visit-form-control" name="livingRoom" id="LivingRoomCheck" placeholder="Notes about Living Room">

          <div class="spacer"></div>
          <label for="StairsCheck" class="visitFormLbl">Stairs/Landing</label>
          <input type="text" class="visit-form-control" name="stairsLanding" id="StairsCheck" placeholder="Notes about Stairs/Landing">

          <div class="spacer"></div>
          <label for="BathroomCheck" class="visitFormLbl">BathroomCheck</label>
          <input type="text" class="visit-form-control" name="bathroom"  id="BathroomCheck" placeholder="Notes about Bathroom">

      <div class="spacer"></div>
      <div class="row"><label for="ToiletCheck" class="labelVisit">Toilet Check</label></div>
      <div class="row">
        <select name="Toilet">
          <option value="Good"> Good</option>
          <option value="OK"> OK</option>
          <option value="Poor"> Poor</option>
        </select>
      </div>

          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant1Room" class="visitFormLbl" id="t1">Tenant 1's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option1">
          </div>
          <input type="text" class="visit-form-control" name="room1Notes" id="Tenant1Room" placeholder="Notes about Tenant1Room">
          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant2Room" class="visitFormLbl" id="t1">Tenant 2's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option2">
          </div>
          <input type="text" class="visit-form-control" name="room2Notes" id="Tenant2Room" placeholder="Notes about Tenant2Room">
          
          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant3Room" class="visitFormLbl" id="t1">Tenant 3's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option3">
          </div>
          <input type="text" class="visit-form-control" name="room3Notes" id="Tenant3Room" placeholder="Notes about Tenant2Room">
  
          
          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant4Room" class="visitFormLbl" id="t1">Tenant 4's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option4">
          </div>
          <input type="text" class="visit-form-control" name="room4Notes" id="Tenant4Room" placeholder="Notes about Tenant4Room">
          
          <div class="spacer"></div>
          <div class="tenant">
            <label class="visitFormLbl" for="inlineCheckbox1" id="t1">Smoke Alarm (Tick If All Working)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option5">
          </div>
          <input type="text" class="visit-form-control" name="smokeAlarmLocations" id="SmokeAlarmLocations" placeholder="Enter Smoke Alarm Locations">
          <input type="text" class="visit-form-control" name="smokeAlarm" id="SmokeAlarmFaults" placeholder="Faults?">
          
          <div class="spacer"></div>
          <div class="tenant">
            <label class="visitFormLbl" for="inlineCheckbox1" id="t1">Carbon Monoxide Alarm (Tick If All Working)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option5">
          </div>
          <input type="text" class="visit-form-control" name = "cmAlarmLocation" id="CMLocations" placeholder="Enter Carbon Monoxide Locations">
          <input type="text" class="visit-form-control" name ="cmAlarms" id="CMFaults" placeholder="Faults?">
          
          <div class="spacer"></div>
          <label class="visitFormLbl" for="Applicances">FRIDGE/FREEZER | WASHER | MICROWAVE | KETTLE | HOOVER | FRYER | TOASTER</label>
          <input type="text" class="visit-form-control" name="electronicsNote" id="applianceNotes" placeholder="Notes to above"></div>
  
          <div class="spacer"></div>
          <div class="tenant">
            <label class="visitFormLbl" for="inlineCheckbox1" id="t1-1">Image of Fault</label>
          </div>
          <div class="tenant">
            <input type="file" class="visit-form-control" id="t1-1">
          </div>
          
          
          <div class="spacer"></div>
          <input type="text" class="visit-form-control" id="ExtraNotes" placeholder="Extra Notes if Needed">
      </div>
      <div class="row"><input type="text" name="room2" class="form-control" id="Tenant2Room" placeholder="Notes about Tenant2Room"></div>

      <div class="spacer"></div>
      <button type="submit" name="submitBtn">Submit</button>
      </div>
      <div class="row"><input type="text" name="room4" class="form-control" id="Tenant4Room" placeholder="Notes about Tenant4Room"></div>
      
    </div>
  </form>

  </div>
</body>

<%- include partials/footer.ejs %>