<%- include partials/header.ejs %>

<body>
    <form class="form-inline">
        <label class="Location" for="inlineFormCustomSelectLocation">Property</label>
        <select class="custom-select Location" id="inlineFormCustomSelectPref">
          <option selected>Which loction are you visiting...</option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
  
        </select>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Tenant 1</label>
         <!-- </div>
          <div class="form-check form-check-inline"> -->
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Tenant 2</label>
         <!-- </div>
          <div class="form-check form-check-inline"> -->
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Tenant 3</label>
          </div>
          <div class="form-group">
            <label for="hallwayCheck">Hallway(Include Cubby hole)</label>
            <input type="text" class="form-control" id="hallwayCheck" placeholder="Notes about hallway">
          </div>
          <div class="form-group">
            <label for="KitchenCheck">Kitchen</label>
            <input type="text" class="form-control" id="KitchenCheck" placeholder="Notes about kitchen">
          </div>
          <div class="form-group">
            <label for="LivingRoomCheck">Living Room</label>
            <input type="text" class="form-control" id="LivingRoomCheck" placeholder="Notes about Living Room">
          </div>
          <div class="form-group">
            <label for="StairsCheck">Stairs/Landing</label>
            <input type="text" class="form-control" id="StairsCheck" placeholder="Notes about Stairs/Landing">
          </div>
          <div class="form-group">
            <label for="BathroomCheck">BathroomCheck</label>
            <input type="text" class="form-control" id="BathroomCheck" placeholder="Notes about Bathroom">
            <label for="ToiletCheck">Toilet Check</label>
          <select name = "Toilet">
              <option value = "Good"> Good</option>
              <option value = "OK"> OK</option>
              <option value = "Poor"> Poor</option>
      
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
          <label class="custom-control-label" for="customControlInline">Remember my preference</label>
            <label for="Tenant1Room">Tenant 1's Room</label>
            <input type="text" class="form-control" id="Tenant1Room" placeholder="Notes about Tenant1Room">
          </div>
          <div class="form-group">
            <label for="Tenant2Room">Tenant 2's Room</label>
            <input type="text" class="form-control" id="Tenant2Room" placeholder="Notes about Tenant2Room">
          </div>
          <div class="form-group">
            <label for="Tenant3Room">Tenant 3's Room</label>
            <input type="text" class="form-control" id="Tenant3Room" placeholder="Notes about Tenant3Room">
          </div>
          <div class="form-group">
            <label for="Tenant4Room">Tenant 4's Room</label>
            <input type="text" class="form-control" id="Tenant4Room" placeholder="Notes about Tenant4Room">
        </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Smoke Alarm</label>
            
            <input type="text" class="form-control" id="Smoke Alarm Fault" placeholder="Faults?">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Carbon Monoxide Alarm</label>

            <input type="text" class="form-control" id="CMFault" placeholder="Faults?">
          </div>
          <div class ="AppliancesAndImages">
              <label class ="formlabel" for="Applicances">FRIDGE/FREEZER | WASHER | MICROWAVE | KETTLE | HOOVER | FRYER | TOASTER</label>
          </div>
          <div>
            <input type="text" class="form-control" id="applianceNotes" placeholder="Notes to above">
          </div>
          <div class="form-group">
            <label for="falutImage">Image of fault</label>
            <input type="file" class="form-control-file" id="falutImmage">
          </div>
          <div>
            <input type="text" class="form-control" id="ExtraNotes" placeholder="Extra Notes if Needed">
          </div>
          <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </form>

      
</body>

<%- include partials/footer.ejs %>