<%- include partials/header.ejs %>

<body>
  <div class="container">
    <div class="flexContainer">
      <div class="propertySelect">
        <div class="logoVisit">
          <img src="images/SaviourTrustLogo.png" alt=""/>
        </div>
        <div class="propertyList">
          <div id="logOutButton">
            <button type="button" class="button" id="logoutBtn">Logout</button>
          </div>
          <div id="propertyListR1">
            <h1 class="labelVisit" id="currentUserLbl">Current User :</h1>
          </div>
          <label class="Location" id="propertyLbl" for="inlineFormCustomSelectLocation">Property</label>
          <select class="custom-select-location" id="inlineFormCustomSelectPref">
            <option selected>Which loction are you visiting...</option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
          </select>
        </div>
      </div>
      
      <div class="visitForm">
        <form>
          <label for="hallwayCheck" class="visitFormLbl">Hallway(Include Cubby hole)</label>
          <input type="text" class="visit-form-control" id="inputvisits" placeholder="Notes about hallway">
          
          <div class="spacer"></div>
          <label for="KitchenCheck" class="visitFormLbl">Kitchen</label>
          <input type="text" class="visit-form-control" id="KitchenCheck" placeholder="Notes about kitchen">
          
          <div class="spacer"></div>
          <label for="LivingRoomCheck" class="visitFormLbl">Living Room</label>
          <input type="text" class="visit-form-control" id="LivingRoomCheck" placeholder="Notes about Living Room">

          <div class="spacer"></div>
          <label for="StairsCheck" class="visitFormLbl">Stairs/Landing</label>
          <input type="text" class="visit-form-control" id="StairsCheck" placeholder="Notes about Stairs/Landing">

          <div class="spacer"></div>
          <label for="BathroomCheck" class="visitFormLbl">BathroomCheck</label>
          <input type="text" class="visit-form-control" id="BathroomCheck" placeholder="Notes about Bathroom">

          <div class="spacer"></div>
          <label for="ToiletCheck" class="visitFormLbl">Toilet Check</label>
            <select name = "Toilet" id="toiletSelect">
              <option value = "Good"> Good</option>
              <option value = "OK"> OK</option>
              <option value = "Poor"> Poor</option>
            </select>

          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant1Room" class="visitFormLbl" id="t1">Tenant 1's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option1">
          </div>
          <input type="text" class="visit-form-control" id="Tenant1Room" placeholder="Notes about Tenant1Room">


          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant2Room" class="visitFormLbl" id="t1">Tenant 2's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option2">
          </div>
          <input type="text" class="visit-form-control" id="Tenant2Room" placeholder="Notes about Tenant2Room">
          
          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant3Room" class="visitFormLbl" id="t1">Tenant 3's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option3">
          </div>
          <input type="text" class="visit-form-control" id="Tenant3Room" placeholder="Notes about Tenant2Room">
  
          
          <div class="spacer"></div>
          <div class="tenant">
            <label for="Tenant4Room" class="visitFormLbl" id="t1">Tenant 4's Room (Tick If Present)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option4">
          </div>
          <input type="text" class="visit-form-control" id="Tenant4Room" placeholder="Notes about Tenant4Room">
          
          <div class="spacer"></div>
          <div class="tenant">
            <label class="visitFormLbl" for="inlineCheckbox1" id="t1">Smoke Alarm (Tick If All Working)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option5">
          </div>
          <input type="text" class="visit-form-control" id="SmokeAlarmLocations" placeholder="Enter Smoke Alarm Locations">
          <input type="text" class="visit-form-control" id="SmokeAlarmFaults" placeholder="Faults?">
          
          <div class="spacer"></div>
          <div class="tenant">
            <label class="visitFormLbl" for="inlineCheckbox1" id="t1">Carbon Monoxide Alarm (Tick If All Working)</label>
            <input class="form-check-input" type="checkbox" id="t2" value="option5">
          </div>
          <input type="text" class="visit-form-control" id="CMLocations" placeholder="Enter Carbon Monoxide Locations">
          <input type="text" class="visit-form-control" id="CMFaults" placeholder="Faults?">
          
          <div class="spacer"></div>
          <label class="visitFormLbl" for="Applicances">FRIDGE/FREEZER | WASHER | MICROWAVE | KETTLE | HOOVER | FRYER | TOASTER</label>
          <input type="text" class="visit-form-control" id="applianceNotes" placeholder="Notes to above"></div>
  
          <div class="spacer"></div>
          <div class="tenant">
            <label class="visitFormLbl" for="inlineCheckbox1" id="t1-1">Image of Fault</label>
          </div>
          <div class="tenant">
            <input type="file" class="visit-form-control" id="t1-1">
          </div>
          
          
          <div class="spacer"></div>
          <input type="text" class="visit-form-control" id="ExtraNotes" placeholder="Extra Notes if Needed">
        </form>
      </div>
      <div class="submit">
        <button type="submit" class="button" id="submitBtn" value="Submit">Submit</button>
      </div>
      
    </div>
  </div>
</body>

<%- include partials/footer.ejs %>