<%- include partials/header.ejs %>

<body>
    <form class="form-inline">
        <label class="Location" for="inlineFormCustomSelectLocation">Property</label>
        <select class="custom-select Location" id="inlineFormCustomSelectPref">
          <option selected>Which loction are you visiting...</option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
        </select>
      
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
          <label class="custom-control-label" for="customControlInline">Remember my preference</label>
        </div>

      </form>

      
</body>

<%- include partials/footer.ejs %>